#!/usr/bin/env ruby

compile '/img/*/' do
end

route '/img/*/' do
  item.identifier.chop + '.' + item[:extension] 
end

compile '/js/*/' do
  case item[:extension]
    when 'js'
      filter :yuicompressor
    when 'min.js'
      #ignore already compressed scripts
  end
end

route '/js/*/' do
  item.identifier.chop + '.' + item[:extension] 
end


compile '/css/*/' do
  filter :sass, :style => :compressed
end

route '/css/lib/*' do
end

route '/css/*/' do
  item.identifier.chop + '.css'
end

compile '*' do
  case item[:extension]
    when 'ico'
    when 'txt'
    when 'haml'
      filter :haml
      layout 'default'
  end
end

route '/favicon/' do
 item.identifier.chop + '.ico'
end

route '/robots/' do
  item.identifier.chop + '.txt'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :haml, :format => :html5