!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title WOULDN'T YOU LIKE A STATIC APP
    %link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    #wrapper
      = yield
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js", :type => "text/javascript"}