!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title WOULDN'T YOU LIKE A STATIC APP
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "js/init.js", :type => "text/javascript"}
  %body
    #wrapper
      = yield